* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: content-box;
}

div {
  font-size: 45px;
  text-align: center;
}


.body {
}
.wrap {
}
.header {
}
.header__name-photo {
}
.header__photo {
}
.photo {
}
.header__name {
}
.header__wrap-navigation {
}
.header__navigation {
}
.main {
}
.about-me {
}
.footer {
}
.footer__wrap-logo {
}
.st0 {
}
.st5 {
}
.st7 {
}
.footer__wrap-link {
}
