.body {
}
.wrap {
}
.header {
  display: flex;
}
.header__name-photo {
}
.header__photo {
  display: inline-block;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.header__name {
}
.header__wrap-navigation {
}
.header__navigation {
}
.main {
}
.about-me {
}
.footer {
}
.footer__wrap-logo {
}
.footer__wrap-link {
}
