.element {
    text-align: center;
    margin: 0 auto;
    border: 20px;
    padding: 20px;
    background: rgba(85, 32, 85, 0.2);
}

.element div {
    font-size: 20px;
}

.elem {
    line-height: 200%;
    width: 800px;
}

ul li {
    height: 30px;
    text-align: center;
}

body {
    background-color: bisque;
}

h1,
h2,
h3 {
    margin: 0 auto;
    padding: 20px 20px;
    align-content: center;
    color: black;
}

img {
    height: 500px;
    width: 400px;
    object-fit: contain;
    display: inline-block;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}